nav.contacte {
    background-color: limegreen;
    
}
header{
    background-color: crimson;
    color: limegreen;
}


div.rojo {
    background-color: crimson;
    width: 33%;
    height: 40px;
   display: inline-block;
}

div.verde {
    background-color: limegreen;
    width: 33%;
    height: 40px;
    display: inline-block;
}

div.bloque {
    display: block;
    background-color: lightgreen;
    width: 600px;
}



div.linea {
    background-color: lightgoldenrodyellow;
    display: inline;
}